$sidebar-width: 300px;
$navbar-height: 65px;

body {
    min-height: 100vh;
    background: var(--seamless-background);
    color: var(--seamless-color);

    padding-left: $sidebar-width;
}

#main {
    display: flex;
    flex-direction: column;
}

#footer {
    margin-top: auto;
    text-align: center;
    opacity: 0.7;
    font-size: 14px;
}

#logo {
    background: var(--seamless-sidebar-background);
    color: var(--seamless-sidebar-color);
    border-bottom: 1px solid var(--seamless-sidebar-color);
    width: $sidebar-width;
    height: $navbar-height;
}

#navbar {
    height: $navbar-height;
}

#sidebar {
    background: var(--seamless-sidebar-background);
    color: var(--seamless-sidebar-color);
    overflow-y: auto;
    height: 100%;
    width: $sidebar-width;

    ul {
        padding: 0.25rem 0;

        li {
            padding: 0 0.5rem;

            &.blank {
                padding: 0.75rem 1rem;
            }

            &.nav-group {
                text-transform: uppercase;
                font-size: 13px;
                opacity: 0.6;
                font-weight: bold;
                padding: 0.5rem 1.25rem 0;
            }

            a {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 0.5rem 1rem;
                transition: background 250ms ease;
                border-radius: 6px;
                margin: 0.25rem 0;

                &:hover {
                    background: rgba(255, 255, 255, .1);
                }

                &.active {
                    background: rgba(255, 255, 255, .15);
                }

                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}

